{% extends "base.html" %}
{% block title %} Contato {% endblock %}
{% block content %}
<section class="banner-area">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 banner-right">
          <h1 class="text-white">
            Sobre nós
          </h1>
          <p class="mx-auto text-white  mt-20 mb-40">
            Somos a maior plataforma agregadora de conhecimento.
          </p>
          <div class="link-nav">
            <span class="box">
              <a href="index.html">Início </a>
              <i class="lnr lnr-arrow-right"></i>
              <a href="about.html">Sobre Nós</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End banner Area ================= -->

  <!-- ================ Start Feature Area ================= -->
  
  <!-- ================ End Feature Area ================= -->

  <!-- ================- Start About Area ================= -->
 
  <!-- ================- End About Area ================= -->

  <!-- ================ Start Video Area ================= -->

  <!-- ================ End Video Area ================= -->

  <!-- ================ Start Feature Area ================= -->
  <section class="other-feature-area">
    <div class="container">
      <div class="feature-inner row">
        <div class="col-lg-12">
          <div class="section-title text-left">
            <h2>
              Sobre a Plataforma <br />
            
            </h2>
            <p>
              Através da nossa plataforma profissionais de ensino podem distribuir
              seus cursos e alcançar mais alunos. Você que é expert em qualquer profissão
              pode criar seus cursos e distribuir online tudo através da nossas
              ferramentas de divulgação.
              Empresas podem criar seus Webinars e Workshops online e divulgar entre nossos
              alunos e parceiros. Além de todas essas vantagens as empresas podem criar
              Hackathons online, onde abre inscrições limitadas para os participantes,
              lança o desafio e acompanha todas as entregas e evolução dos projetos.
              Tudo em tempo real.
            </p>
          </div>
        </div>
        
        
      </div>
    </div>
  </section>
{% endblock %}